/*
 ██▒   █▓ ██▀███   ▄████▄   ██░ ██  ▄▄▄     ▄▄▄█████▓     █     █░ ▓█████ ▄▄▄▄   ▄▄▄█████▓ █     █░ ▓█████ ▄▄▄      ██ ▄█▀  ██████ 
▓██░   █▒▓██ ▒ ██▒▒██▀ ▀█ ▒▓██░ ██ ▒████▄   ▓  ██▒ ▓▒    ▓█░ █ ░█░ ▓█   ▀▓█████▄ ▓  ██▒ ▓▒▓█░ █ ░█░ ▓█   ▀▒████▄    ██▄█▒ ▒██    ▒ 
 ▓██  █▒░▓██ ░▄█ ▒▒▓█    ▄░▒██▀▀██ ▒██  ▀█▄ ▒ ▓██░ ▒░    ▒█░ █ ░█  ▒███  ▒██▒ ▄██▒ ▓██░ ▒░▒█░ █ ░█  ▒███  ▒██  ▀█▄ ▓███▄░ ░ ▓██▄   
  ▒██ █░░▒██▀▀█▄  ▒▓▓▄ ▄██ ░▓█ ░██ ░██▄▄▄▄██░ ▓██▓ ░     ░█░ █ ░█  ▒▓█  ▄▒██░█▀  ░ ▓██▓ ░ ░█░ █ ░█  ▒▓█  ▄░██▄▄▄▄██▓██ █▄   ▒   ██▒
   ▒▀█░  ░██▓ ▒██▒▒ ▓███▀  ░▓█▒░██▓▒▓█   ▓██  ▒██▒ ░     ░░██▒██▓ ▒░▒████░▓█  ▀█▓  ▒██▒ ░ ░░██▒██▓ ▒░▒████▒▓█   ▓██▒██▒ █▄▒██████▒▒
   ░ ▐░  ░ ▒▓ ░▒▓░░ ░▒ ▒    ▒ ░░▒░▒░▒▒   ▓▒█  ▒ ░░       ░ ▓░▒ ▒  ░░░ ▒░ ░▒▓███▀▒  ▒ ░░   ░ ▓░▒ ▒  ░░░ ▒░ ░▒▒   ▓▒█▒ ▒▒ ▓▒▒ ▒▓▒ ▒ ░
   ░ ░░    ░▒ ░ ▒░  ░  ▒    ▒ ░▒░ ░░ ░   ▒▒     ░          ▒ ░ ░  ░ ░ ░  ▒░▒   ░     ░      ▒ ░ ░  ░ ░ ░  ░ ░   ▒▒ ░ ░▒ ▒░░ ░▒  ░ ░
     ░░     ░   ░ ░         ░  ░░ ░  ░   ▒    ░            ░   ░      ░   ░    ░   ░ ░      ░   ░      ░    ░   ▒  ░ ░░ ░ ░  ░  ░  
      ░     ░     ░ ░       ░  ░  ░      ░                   ░    ░   ░   ░                   ░    ░   ░        ░  ░  ░         ░  
*/
/* ==UserStyle==
@name			VRChat WebTweaks
@namespace		table
@version		0.0.9
@homepageURL	https://github.com/Metamaniac/VRCWebTweaks
@updateURL		https://github.com/Metamaniac/VRCWebTweaks/raw/main/VRCWebTweaks.user.css
@description	Making the VRChat Web experience better since that year with all the 2s in it!
@author			Metamaniac (Table)
@preprocessor	stylus
@var select		customFont			"Font Override"				["Dosis*", "inherit"]
@var checkbox	cursorEnable		"Use VRChat Cursor"			1
@var color		accentColor			"Accent Color"				#eb8500
@var color		postTitle			"Post Titles"				#fc0
==/UserStyle== */

/*

  ▄▄█▀▀▀█▄█▀████▀     ▄▄█▀▀██▄ ▀███▀▀▀██▄     ██     ▀████▀
▄██▀     ▀█  ██     ▄██▀    ▀██▄ ██    ██    ▄██▄      ██
██▀       ▀  ██     ██▀      ▀██ ██    ██   ▄█▀██▄     ██
██           ██     ██        ██ ██▀▀▀█▄▄  ▄█  ▀██     ██
██▄    ▀████ ██     ▄█▄      ▄██ ██    ▀█  ████████    ██     ▄
▀██▄     ██  ██    ▄███▄    ▄██▀ ██    ▄█ █▀      ██   ██    ▄█
  ▀▀█████████████████ ▀▀████▀▀ ▄████████▄███▄   ▄████▄█████████

*/
@-moz-document domain("vrchat.com"), domain("vrchat.canny.io") {

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@keyframes shake {
	10%, 90% {transform: translate(-1px, 0);}
	20%, 80% {transform: translate(2px, 0);}
	30%, 50%, 70% {transform: translate(-4px, 0);}
	40%, 60% {transform: translate(4px, 0);}
}
@keyframes rumble {
	10% {transform: translate(2px, 0px) rotate(-2deg);}
	20% {transform: translate(1px, -1px) rotate(1deg);}
	30% {transform: translate(-1px, -2px) rotate(0deg);}
	40% {transform: translate(1px, 1px) rotate(2deg);}
	50% {transform: translate(-2px, 0px) rotate(-1deg);}
	60% {transform: translate(-1px, 1px) rotate(3deg);}
	70% {transform: translate(1px, -2px) rotate(0deg);}
	80% {transform: translate(2px, 1px) rotate(-2deg);}
}

:root{
	--fauxWhite: #f8f9fa;
	--blueText: #6ae3f9;
	--moreDarkGreen: #07242b;
	--moreDarkGreenBorder: #053c48;
	--lessDarkGreen: #07343f;
	--lessDarkGreenBorder: #086c84;
	--moreDarkGrey: #181b1f;
	--lessDarkGrey: #252a30;
}

	body, h1, h2, h3, h4, h5, h6{
		font-family: customFont, sans-serif !important;
	}

if cursorEnable{
	body, html, /* CANNY */ label, .postListMenu .menu .text, .postListMenu .menu .selector .dropdown, .postMenu .deleteLink, .postMenu .editLink, .postMenu .timestampLink, .commentMenu .menu .timestamp, .fileInput .fileInputButton.disabled, .textInput.disabled, .textInput.disabled .inset, input:disabled, /* MAIN PAGE */ .css-1jz15bg .world, .css-1jz15bg .nav-disabled{
		cursor: url("https://github.com/Metamaniac/VRCWebTweaks/raw/main/default.png") 5 5, auto !important;
	}
	a, /* CANNY */ .buttonStyle, button, .authButton, .dropdownContainer, .publicNav .publicNavContent .secondaryNav .link, .postListItem .postLink, .fileInput .fileInputButton, .postVotes, .adminNavAccountMenu .userAvatar, .iconButton, .notification, .notificationsMenuPortal .notificationsDropdown .notificationsDropdownHeader span, .categorySelector .categoryInput .suggestions .suggestion, .createPostForm .categoryDropdown .topContainer, .postListMenu .menu .selector, .postListMenu .menu .selector .dropdown .sorts .option, .postListMenu .menu .selector .dropdown .filters .option, .postListMenu .menu .selector .dropdown .categories .option, .postListMenu .searchBar .icon-search, .postListMenu .icon-x, .reactionsMenu .reactionButton, .commentMenu .menu .reply, .postActivity .header .sorts .sortOption, .subdomainNotifications .notificationHeader .markAll, .adminNavAccountMenuPortal .menuItems .section .menuItem, /* MAIN PAGE */ .btn, [role="button"], .css-1lj5puh, .css-u6aj87:hover, .css-1hxxm2l, .css-1jz15bg .world-nav:not(.nav-disabled), .css-1jz15bg .world *, input[type="checkbox"]{
		cursor: url("https://github.com/Metamaniac/VRCWebTweaks/raw/main/default_vrc_recolor.png") 5 5, auto !important;
	}
}
}

/*

  ▄▄█▀▀▀█▄█     ██     ▀███▄   ▀███▀███▄   ▀███▀███▀   ▀██▀
▄██▀     ▀█    ▄██▄      ███▄    █   ███▄    █   ███   ▄█
██▀       ▀   ▄█▀██▄     █ ███   █   █ ███   █    ███ ▄█
██           ▄█  ▀██     █  ▀██▄ █   █  ▀██▄ █     ████
██▄          ████████    █   ▀██▄█   █   ▀██▄█      ██
▀██▄     ▄▀ █▀      ██   █     ███   █     ███      ██
  ▀▀█████▀▄███▄   ▄████▄███▄    ██ ▄███▄    ██    ▄████▄

*/
@-moz-document domain("feedback.vrchat.com"), domain("vrchat.canny.io") {

/*

██████╗  █████╗ ███████╗███████╗
██╔══██╗██╔══██╗██╔════╝██╔════╝
██████╔╝███████║███████╗█████╗
██╔══██╗██╔══██║╚════██║██╔══╝
██████╔╝██║  ██║███████║███████╗
╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝

*/

	body, html{
		background: #0e1013;
		background-image: url("https://s3.amazonaws.com/assets.vrchat.com/www/images/Background_lines.svg");
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	a{
		font-size: inherit;
	}


/*

██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝

*/

	.subdomainHome .contentInnerContainer{
		max-width: 1600px;
		width: 80%;
	}
	.boardGridItem{
		height: 10vh;
		max-height: 110px;
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		border-radius: 8px;
	}
	.boardGridItem:hover{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
		transform: scale(1.05);
	}
	.boardGridItem .top{
		height: 100%;
	}
	.boardGridItem .top .name{
		font-size: 200%;
		line-height: 100%;
		color: var(--blueText);
	}
	.boardGridItem .uppercaseHeader{
		font-size: inherit;
	}
	.publicNav .publicNavContent .secondaryNav .search{
		margin-left: 0;
		margin-bottom: -3px;
	}
	.globalSearch .textInput .inputContainer input{
		line-height: inherit;
	}
	.globalSearch .globalSearchInput .inset label{
		margin: 0 0 0 85px;
	}
	.globalSearch .textInput{
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		border-radius: 8px;
	}
	.globalSearch .textInput .inputContainer input, .globalSearch .globalSearchInput .inset .icon, .globalSearch .globalSearchInput.focused .inset .icon, .globalSearch .globalSearchInput.populated .inset .icon, .globalSearch .uppercaseHeader{
		color: var(--fauxWhite);
	}
	.globalSearch .globalSearchInput.focused .inputContainer, .globalSearch .globalSearchInput.populated .inputContainer{
		width: 400px;
	}
	.globalSearch .globalSearchInput .inset, .globalSearch .x-button{
		margin: 0 15px 0 15px;
	}
	.globalSearch.isFocused, .globalSearch.populated{
		border-bottom: 0;
	}
	.subdomainSearch h1{
		font-size: 20px;
		color: #888;
	}
	.postList .noPosts{
		color: var(--fauxWhite);
		font-size: 25px;
		text-align: center;
	}



/*

████████╗ ██████╗ ██████╗     ██████╗  █████╗ ██████╗
╚══██╔══╝██╔═══██╗██╔══██╗    ██╔══██╗██╔══██╗██╔══██╗
   ██║   ██║   ██║██████╔╝    ██████╔╝███████║██████╔╝
   ██║   ██║   ██║██╔═══╝     ██╔══██╗██╔══██║██╔══██╗
   ██║   ╚██████╔╝██║         ██████╔╝██║  ██║██║  ██║
   ╚═╝    ╚═════╝ ╚═╝         ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

*/

	.contentContainer .contentInnerContainer{
		max-width: 1600px;
		width: 80%;
	}
	.publicNav{
		background: linear-gradient(0deg, var(--moreDarkGreen) 0%, var(--lessDarkGreen) 100%) !important;
		border-bottom: 3px solid var(--moreDarkGreenBorder);
	}

/*

█▀▀██▀▀█                     ▀██▀                ▄▀█▄   ▄
   ██      ▄▄▄   ▄▄▄ ▄▄▄      ██         ▄▄▄▄  ▄██▄   ▄██▄
   ██    ▄█  ▀█▄  ██▀  ██     ██       ▄█▄▄▄██  ██     ██
   ██    ██   ██  ██    █     ██       ██       ██     ██
  ▄██▄    ▀█▄▄█▀  ██▄▄▄▀     ▄██▄▄▄▄▄█  ▀█▄▄▄▀ ▄██▄    ▀█▄▀
                  ██
                 ▀▀▀▀
*/
	.companyLogo{
		background-image: url("https://assets.vrchat.com/www/brand/vrchat-logo-white-transparent-crop-background.png");
		background-size: auto 90%;
		background-repeat: no-repeat;
		height: 60px !important;
		width: 200px !important;
		margin-top: 1.5rem !important;
	}
	.companyName, .companyLogo img, .publicNav .publicNavContent .secondaryNav .link .icon{
		display: none;
	}
	.publicNav .publicNavContent .secondaryNav .link .text, .publicNav .publicNavContent .secondaryNav .link .boardDropdown .dropdownContainer .selection .left{
		color: var(--fauxWhite);
	}
	.publicNav .publicNavContent .secondaryNav .link:hover .text, .publicNav .publicNavContent .secondaryNav .link:hover .boardDropdown .dropdownContainer .selection .left, .publicNav .publicNavContent .secondaryNav .link:hover .boardDropdown .left, .publicNav .publicNavContent .secondaryNav .link:hover .boardDropdown .selection:not(.split) .icon-chevron-down, .publicNav .publicNavContent .secondaryNav .link.activeLink .text, .publicNav .publicNavContent .secondaryNav .link .boardDropdown .dropdownContainer .selection .option .optionContent div, .publicNav .publicNavContent .secondaryNav .link .boardDropdown .dropdownContainer .selection .icon-chevron-down:hover{
		color: accentColor !important;
	}
	.publicNav .publicNavContent .secondaryNav .link .boardDropdown .dropdownContainer .selection .option .optionContent div{
		border-right: 0;
		padding: 0;
		margin: 0 7px 0 0;
	}
	.publicNav .publicNavContent .secondaryNav .link.roadmap, .publicNav .publicNavContent .secondaryNav .link.boards{
		padding: 10px;
	}
	.dropdownContainer .selection.split .icon-chevron-down{
		padding: 0;
	}
	

/*

▀██▀▀█▄                                ▀██
 ██   ██  ▄▄▄ ▄▄    ▄▄▄   ▄▄▄ ▄▄▄    ▄▄ ██    ▄▄▄   ▄▄▄ ▄▄▄ ▄▄▄ ▄▄ ▄▄▄
 ██    ██  ██▀ ▀▀ ▄█  ▀█▄  ██▀  ██ ▄▀  ▀██  ▄█  ▀█▄  ██  ██  █   ██  ██
 ██    ██  ██     ██   ██  ██    █ █▄   ██  ██   ██   ███ ███    ██  ██
▄██▄▄▄█▀  ▄██▄     ▀█▄▄█▀  ██▄▄▄▀  ▀█▄▄▀██▄  ▀█▄▄█▀    █   █    ▄██▄ ██▄
                           ██
                          ▀▀▀▀
*/
	.dropdownPortal .dropdown{
		max-height: none;
		background: var(--lessDarkGreen) !important;
	}
	.boardDropdownSelector .dropdown .option .optionContent{
		color: var(--fauxWhite);
	}
	.dropdownPortal .dropdown .option.focused{
		background: var(--moreDarkGreen);
		border-radius: 0;
		outline: 0;
	}
	.dropdownPortal .dropdown.controlled .option:hover{
		background: var(--moreDarkGreen);
		border-radius: 0;
	}
	.boardDropdownSelector .dropdown .option .optionContent .count{
		background: transparent;
		color: accentColor;
	}
	.dropdown a{
		transition: all .075s ease-in-out;
	}

/*

█▀▀██▀▀█                     ▀██▀▀█▄    ██          ▀██        ▄
   ██      ▄▄▄   ▄▄▄ ▄▄▄      ██   ██  ▄▄▄    ▄▄▄ ▄  ██ ▄▄   ▄██▄
   ██    ▄█  ▀█▄  ██▀  ██     ██▀▀█▀    ██   ██ ██   ██▀ ██   ██
   ██    ██   ██  ██    █     ██   █▄   ██    █▀▀    ██  ██   ██
  ▄██▄    ▀█▄▄█▀  ██▄▄▄▀     ▄██▄  ▀█▀ ▄██▄  ▀████▄ ▄██▄ ██▄  ▀█▄▀
                  ██                        ▄█▄▄▄▄▀
                 ▀▀▀▀
*/
	.publicNav .publicNavContent .mainNav .rightContainer{
		padding: 35px 0 0 0;
	}
	.adminNavAccountMenu .userAvatar{
		width: 52px;
		height: 52px;
	}
	.userAvatar .avatarContainer, .userAvatar .avatarContainer img{
		border-radius: 30%;
	}
	.adminNavAccountMenuPortal .menuItems{
		background: var(--lessDarkGreen);
		box-shadow: 0 0 10px #00000033;
	}
	.adminNavAccountMenuPortal .menuItems .section .menuItem{
		color: var(--fauxWhite);
	}
	.adminNavAccountMenuPortal .arrow{
		border-color: var(--lessDarkGreen);
	}
	.adminNavAccountMenuPortal .menuItems .section .menuItem:hover{
		color: var(--blueText);
	}
	.tooltipContainer .tooltip{
		display: none;
		background: var(--lessDarkGreen);
	}
	.tooltipContainer .tooltip .arrow{
		border-color: transparent var(--lessDarkGreen) var(--lessDarkGreen) transparent;
	}


/*

███╗   ██╗ ██████╗ ████████╗██╗███████╗██╗ ██████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗███████╗
████╗  ██║██╔═══██╗╚══██╔══╝██║██╔════╝██║██╔════╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
██╔██╗ ██║██║   ██║   ██║   ██║█████╗  ██║██║     ███████║   ██║   ██║██║   ██║██╔██╗ ██║███████╗
██║╚██╗██║██║   ██║   ██║   ██║██╔══╝  ██║██║     ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║╚════██║
██║ ╚████║╚██████╔╝   ██║   ██║██║     ██║╚██████╗██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║███████║
╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚═╝╚═╝     ╚═╝ ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

*/

/*

█▀▀██▀▀█                     ▀██▀▀█▄
   ██      ▄▄▄   ▄▄▄ ▄▄▄      ██   ██   ▄▄▄▄   ▄▄▄ ▄▄
   ██    ▄█  ▀█▄  ██▀  ██     ██▀▀▀█▄  ▀▀ ▄██   ██▀ ▀▀
   ██    ██   ██  ██    █     ██    ██ ▄█▀ ██   ██
  ▄██▄    ▀█▄▄█▀  ██▄▄▄▀     ▄██▄▄▄█▀  ▀█▄▄▀█▀ ▄██▄
                  ██
                 ▀▀▀▀
*/
	.notificationsMenu{
		margin: 0 10px 0 0;
	}
	.notificationsMenuPortal{
		width: 500px;
	}
	.notificationsMenuPortal .notificationsDropdown{
		border-radius: 10px;
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		color: var(--fauxWhite);
	}
	.notificationsDropdownHeader h3{
		color: inherit;
		font-size: 15px;
	}
	.notificationsDropdownHeader span{
		color: accentColor !important;
	}
	.publicNav .publicNavContent .mainNav .rightContainer .notificationsMenu .menu.hasUnread .badge{
		background: #ed2b2b !important;
		color: #fff;
		padding: 2px 6px;
		right: -8px;
		top: -8px;
		border-radius: 50%;
		font-size: 15px;
	}
	.notification, .notificationsMenuPortal .notificationsDropdown .notificationsDropdownHeader{
		border-bottom: 2px solid var(--moreDarkGreenBorder);
	}
	.notificationsMenuPortal .notificationsDropdown .notificationsDropdownFooter{
		border-top: 2px solid var(--moreDarkGreenBorder);
	}
	.notification.unread{
		border-left: 2px solid accentColor;
	}
	.notification:hover{
		background: var(--lessDarkGreen);
	}
	.notificationsMenuPortal .notificationsDropdown::after{
		border-color: transparent transparent var(--moreDarkGreenBorder) var(--moreDarkGreenBorder);
		top: 0px;
	}

/*

▀██▀▀█▄               ▀██   ██                    ▄               ▀██     ▀██▀▀█▄
 ██   ██    ▄▄▄▄    ▄▄ ██  ▄▄▄    ▄▄▄▄   ▄▄▄▄   ▄██▄    ▄▄▄▄    ▄▄ ██      ██   ██  ▄▄▄▄     ▄▄▄ ▄   ▄▄▄▄
 ██    ██ ▄█▄▄▄██ ▄▀  ▀██   ██  ▄█   ▀▀ ▀▀ ▄██   ██   ▄█▄▄▄██ ▄▀  ▀██      ██▄▄▄█▀ ▀▀ ▄██   ██ ██  ▄█▄▄▄██
 ██    ██ ██      █▄   ██   ██  ██      ▄█▀ ██   ██   ██      █▄   ██      ██      ▄█▀ ██    █▀▀   ██
▄██▄▄▄█▀   ▀█▄▄▄▀ ▀█▄▄▀██▄ ▄██▄  ▀█▄▄▄▀ ▀█▄▄▀█▀  ▀█▄▀  ▀█▄▄▄▀ ▀█▄▄▀██▄    ▄██▄     ▀█▄▄▀█▀  ▀████▄  ▀█▄▄▄▀
                                                                                           ▄█▄▄▄▄▀
*/
	.subdomainNotifications .notificationHeader .heading{
		font-size: 30px;
		color: var(--fauxWhite);
	}
	.subdomainNotifications .notificationHeader .markAll{
		font-size: 20px;
		color: accentColor;
	}
	.notificationList .notificationListBody{
		border-radius: 10px;
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		color: var(--fauxWhite);
	}
	.notificationsDropdown .postLink .notification span{
		font-size: 18px;
	}
	.contentInnerContainer .postLink .notification span{
		font-size: 20px;
	}
	.notification .timestamp{
		margin: 4px 0 0 0;
	}



/*

██████╗  ██████╗ ███████╗████████╗    ██╗     ██╗███████╗████████╗
██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝    ██║     ██║██╔════╝╚══██╔══╝
██████╔╝██║   ██║███████╗   ██║       ██║     ██║███████╗   ██║
██╔═══╝ ██║   ██║╚════██║   ██║       ██║     ██║╚════██║   ██║
██║     ╚██████╔╝███████║   ██║       ███████╗██║███████║   ██║
╚═╝      ╚═════╝ ╚══════╝   ╚═╝       ╚══════╝╚═╝╚══════╝   ╚═╝

*/

	.boardHome .contentInnerContainer{
		max-width: 1750px;
		width: 90%;
	}
	.postListContainer, .postList, .postList .loading, .boardHome .postListContainer{
		background: var(--moreDarkGrey);
		border-radius: 10px;
	}
	.postListMenu .menu .selector .dropdown .categories .option:hover, .postListMenu .menu .selector .dropdown .filters .option:hover, .postListMenu .menu .selector .dropdown .sorts .option:hover{
		background: #000;
	}
	.postList .topContainer{
		background: var(--lessDarkGrey);
		color: var(--fauxWhite);
		border-radius: 10px 10px 0 0;
	}
	.posts{
		padding: 2% 2% 0 2%;
	}
	.postListItem .postLink .body .postTitle{
		color: postTitle;
		text-shadow: 0 0 4px #000;
	}
	.postListItem .postLink .body .postDetails{
		color: var(--fauxWhite);
	}
	.postCommentCount .icon-comment, .postCommentCount span{
		color: var(--fauxWhite);
	}
	.postList .topContainer .postListMenu{
		margin: 0;
	}
	.postListMenu .menu{
		padding: 15px 25px 15px 25px;
	}
	.postListMenu .menu .selector{
		border-bottom: 0;
	}
	.postListMenu .menu .selector:hover{
		border-bottom: 0;
		color: accentColor;
	}
	.postListMenu .menu .selector .icon-chevron-down{
		color: inherit;
		margin: 5px 0 0 5px;
	}
	.postListMenu .menu .text, .postListMenu .menu .selector .selectedName, .postListMenu .menu .categoriesMenu .selectedName{
		font-size: 20px;
	}
	.postListMenu .menu .selector .dropdown{
		background: var(--moreDarkGrey);
		box-shadow: 0 0 10px #000;
		color: var(--fauxWhite);
	}
	.postListMenu .menu .selector .dropdown .sorts{
		border-right: 3px solid #fff1;
	}
	.postListMenu .menu .selector .dropdown .sorts .dot{
		background: accentColor !important;
	}
	.searchContainer{
		border: 2px solid var(--moreDarkGreenBorder) !important;
		border-radius: 8px;
	}
	.searchContainer .textInput .inputContainer input{
		color: var(--fauxWhite);
	}
	.postListMenu .searchContainer .searchInputContents{
		background: var(--moreDarkGreen);
	}
	.postListMenu .searchContainer{
		margin: 11px;
	}
	.postListMenu .searchContainer.active{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
	}
	.suggestedPosts .heading, .searching{
		background: var(--lessDarkGrey);
		border-radius: 10px 10px 0 0;
		color: var(--fauxWhite);
		text-align: center;
		font-size: 25px !important;
	}
	.postVotes{
		border-radius: 10px 10px 0 0;
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		color: var(--fauxWhite);
		text-align: center;
		font-size: 25px !important
	}
	.postVotes:hover{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
	}
	.postVotes .upvote, .postVotes:hover .upvote:not(.voted){
		border-bottom: 9px solid var(--fauxWhite);
	}
	.postVotes .upvote.voted{
		border-bottom: 9px solid accentColor !important;
	}
	
	
/*

  ▄▄█▀▀▀▄█                           ▄              ▀██▀▀█▄                   ▄
▄█▀     ▀  ▄▄▄ ▄▄    ▄▄▄▄   ▄▄▄▄   ▄██▄    ▄▄▄▄      ██   ██   ▄▄▄    ▄▄▄▄  ▄██▄
██          ██▀ ▀▀ ▄█▄▄▄██ ▀▀ ▄██   ██   ▄█▄▄▄██     ██▄▄▄█▀ ▄█  ▀█▄ ██▄ ▀   ██
▀█▄      ▄  ██     ██      ▄█▀ ██   ██   ██          ██      ██   ██ ▄ ▀█▄▄  ██
 ▀▀█▄▄▄▄▀  ▄██▄     ▀█▄▄▄▀ ▀█▄▄▀█▀  ▀█▄▀  ▀█▄▄▄▀    ▄██▄      ▀█▄▄█▀ █▀▄▄█▀  ▀█▄▀

*/
	.boardHome .sidebarContainer{
		width: inherit;
		max-width: 450px;
	}
	.boardDetails{
		max-height: none;
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		border-radius: 8px;
		color: var(--blueText);
	}
	.boardDetails .heading{
		font-size: 22px;
	}
	.createPostForm .autoResizeTextarea, .createPostForm .textInput, .createPostForm textarea, .createPostForm input, .createPostForm .categoryDropdown .topContainer{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
	}
	.createPostForm .autoResizeTextarea, .createPostForm .textInput, .createPostForm textarea, .createPostForm input{
		color: var(--fauxWhite) !important;
	}
	.boardDetails .createPostForm .fileInputButton{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
		border-radius: 8px;
	}
	.fileInput .fileInputButton .icon{
		color: var(--fauxWhite);
	}

	.createPostForm .categoryDropdownContainer{
		top: 22px;
	}
	.createPostForm .categoryDropdown.selected .label{
		color: inherit;
	}
	.postCategoryMenu .categoryDropdownContainer{
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
	}
	.categorySelector.floatingMenu .categoryInput .textInput{
		background: var(--moreDarkGreen);
		border-bottom: none;
	}
	.categorySelector.floatingMenu .categoryInput .textInput.focused{
		border-bottom: 2px solid var(--moreDarkGreenBorder);
	}
	.categorySelector.floatingMenu .categoryInput .suggestions{
		max-height: 240px;
		background: var(--moreDarkGreen);
	}
	.categorySelector .categoryInput .suggestions .suggestion:hover{
		background: #04191e;
	}
	.postCategoryMenu .categoryDropdownContainer{
		background: var(--lessDarkGreen);
	}


/*

██╗███╗   ██╗██████╗ ██╗██╗   ██╗██╗██████╗ ██╗   ██╗ █████╗ ██╗         ██████╗  ██████╗ ███████╗████████╗
██║████╗  ██║██╔══██╗██║██║   ██║██║██╔══██╗██║   ██║██╔══██╗██║         ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝
██║██╔██╗ ██║██║  ██║██║██║   ██║██║██║  ██║██║   ██║███████║██║         ██████╔╝██║   ██║███████╗   ██║
██║██║╚██╗██║██║  ██║██║╚██╗ ██╔╝██║██║  ██║██║   ██║██╔══██║██║         ██╔═══╝ ██║   ██║╚════██║   ██║
██║██║ ╚████║██████╔╝██║ ╚████╔╝ ██║██████╔╝╚██████╔╝██║  ██║███████╗    ██║     ╚██████╔╝███████║   ██║
╚═╝╚═╝  ╚═══╝╚═════╝ ╚═╝  ╚═══╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝    ╚═╝      ╚═════╝ ╚══════╝   ╚═╝

*/

/*

 ▄▄█▀▀▀▄█                                    ██
▄█▀     ▀    ▄▄▄▄  ▄▄ ▄▄▄     ▄▄▄▄  ▄▄▄ ▄▄  ▄▄▄    ▄▄▄▄
██    ▄▄▄▄ ▄█▄▄▄██  ██  ██  ▄█▄▄▄██  ██▀ ▀▀  ██  ▄█   ▀▀
▀█▄    ██  ██       ██  ██  ██       ██      ██  ██
 ▀▀█▄▄▄▀█   ▀█▄▄▄▀ ▄██▄ ██▄  ▀█▄▄▄▀ ▄██▄    ▄██▄  ▀█▄▄▄▀

*/
	.subdomainPost .contentInnerContainer{
		max-width: 1600px;
		width: 80%;
	}
	.post .postContent .postBody, .commentBody .line{
		max-width: 100%;
	}
	.subdomainPost .postContainer{
		background: var(--moreDarkGrey);
	}
	.overlayWrapper .overlayContainer .overlay{
		background: var(--lessDarkGrey);
		border: 0;
	}
	.userInfo{
		padding: 0 0 0 10px;
	}
	.userLockup .userInfo .name{
		color: var(--fauxWhite);
	}
	.userLockup .userInfo, .userLockup .userInfo .name, .postStatusChange .topContainer .update span{
		line-height: 36px;
		font-size: 20px;
	}
	.userLockup .userAvatar{
		width: 52px;
		height: 52px;
	}
	.comment .bottomContainer, .post .postContent .postBody, .postStatusChange .bottomContainer, .postMerge .bottomContainer{
		padding: 0 30px 0 88px;
	}
	.subdomainPost .postContainer .postHeader{
		padding: 15px;
	}
	.markdown .inlineCodeBlock{
		background-color: #000;
	}
	.markdown a{
		color: var(--blueText) !important;
	}
	.markdown a:hover{
		opacity: .65;
	}
	.markdown ol, .markdown ul{
		padding-left: 1em;
	}
	.markdown ol li, .markdown ul li{
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		font-weight: 700;
	}
	.editing .composerForm .buttonBar .rightContainer .blackButton, .subdomainPost .editContainer .formButtons button, .confirmModal .cannyButton, .errorModal .cannyButton, .commentComposer .blackButton{
		background: #206eff !important;
		border: 2px solid #206eff;
		border-radius: 8px;
	}
	.editing .composerForm .buttonBar .rightContainer .blackButton:hover, .subdomainPost .editContainer .formButtons button:hover, .confirmModal .cannyButton:hover, .errorModal .cannyButton:hover, .commentComposer .blackButton:hover{
		background: #0043a8 !important;
		border: 2px solid #206eff;
		/* TODO: GREEN TINT???
		background: #00a862 !important;
		border: 2px solid #20ff9e;
		*/
		opacity: 1 !important;
	}
	.commentComposer .composerForm .buttonBar .rightContainer .cancelButton, .confirmModal .ghostButton{
		background: #0a1e20;
		border: 2px solid #0a1e20;
		border-radius: 8px;
	}
	.commentComposer .composerForm .buttonBar .rightContainer .cancelButton:hover, .confirmModal .ghostButton:hover{
		background: #6e0000;
		border: 2px solid #f00;
	}
	.commentComposer .buttonStyle.ghostButton .label, button.ghostButton .label, .confirmModal .ghostButton .label{
		color: #fff;
	}
	.notFound{
		color: var(--fauxWhite);
		font-size: 25px !important;
		text-align: center;
	}

/*

▀██▀▀█▄               ▀██
 ██   ██    ▄▄▄     ▄▄ ██   ▄▄▄▄ ▄▄▄
 ██▀▀▀█▄  ▄█  ▀█▄ ▄▀  ▀██    ▀█▄  █
 ██    ██ ██   ██ █▄   ██     ▀█▄█
▄██▄▄▄█▀   ▀█▄▄█▀ ▀█▄▄▀██▄     ▀█
                            ▄▄ █
                             ▀▀
*/
	.post .postContent .commentComposer, .post .postContent .postMenu{
		padding: 0 88px;
	}
	.commentBody .line, .commentBody p, .commentBody span, .postBody .markdown .line, .postActivity .activityList, .postBody{
		font-size: 18px;
		line-height: 25px;
		color: var(--fauxWhite);
	}
	.postHeader .statusTitle .postTitle{
		color: postTitle;
		text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
		font-size: 25px;
		line-height: 30px;
		margin: 0;
	}
	.userLockup, .postStatusChange .topContainer .update .userLockupContainer .userLockup{
		padding: 0 15px 0 15px;
	}
	.post .userLockup .userAvatarContainer{
		margin: 0 10px 0 0;
	}

	.markdown .multiLineCodeBlock{
		background-color: transparent;
	}
	.markdown .heading{
		font-size: 22px;
	}

	/* TODO: FIX HEIGHT BUG SOMEHOW WHEN BRAIN NOT DEAD
	.commentComposer .composerForm .autoResizeTextarea{
		height: 88px ;
	}
	*/
	.subdomainPost .editContainer .formContainer{
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		color: var(--fauxWhite);
	}
	.subdomainPost .editContainer .formContainer h1{
		font-size: 20px;
	}
	.createPostFormImages .imagePreview .icon{
		background: #f008;
	}
	.createPostFormImages .imagePreview .icon:hover{
		background: #f00;
	}
	.postMenu .timestamp:hover{
		color: accentColor;
	}
	.postMenu .editLink:hover{
		color: #ff7200;
	}
	.postMenu .deleteLink:hover{
		color: #f00;
		-webkit-animation: rumble .3s infinite linear;
	}
	.confirmModal .message, .errorModal .message{
		color: var(--fauxWhite);
	}
	.photoViewer img.currentImage{
		filter: drop-shadow(0px 0px 20px #000);
	}


/*

  ▄▄█▀▀▀▄█                                                  ▄
▄█▀     ▀    ▄▄▄   ▄▄ ▄▄ ▄▄   ▄▄ ▄▄ ▄▄     ▄▄▄▄  ▄▄ ▄▄▄   ▄██▄   ▄▄▄▄
██         ▄█  ▀█▄  ██ ██ ██   ██ ██ ██  ▄█▄▄▄██  ██  ██   ██   ██▄ ▀
▀█▄      ▄ ██   ██  ██ ██ ██   ██ ██ ██  ██       ██  ██   ██   ▄ ▀█▄▄
 ▀▀█▄▄▄▄▀   ▀█▄▄█▀ ▄██ ██ ██▄ ▄██ ██ ██▄  ▀█▄▄▄▀ ▄██▄ ██▄  ▀█▄▀ █▀▄▄█▀

*/
	
	.post .mainContent > .commentComposer{
		margin: 0 30px 0 85px;
		max-width: 100%;
	}
	.commentComposer .autoResizeTextarea{
		background: var(--moreDarkGreen);
	}
	.commentComposer .autoResizeTextarea textarea{
		color: var(--fauxWhite);
	}
	.commentComposer .composerForm{
		background: var(--moreDarkGreen);
		transition: background 0.2s ease-in-out 0s;
		border: 2px solid var(--moreDarkGreenBorder) !important;
		box-shadow: 0 0 3px #000;
	}
	.fileInput .fileInputButton{
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder);
		border-radius: 8px;
		border-style: solid !important;
	}
	.fileInput .fileInputButton:hover{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
		border-radius: 8px;
		border-style: solid !important;
		color: var(--fauxWhite);
	}
	.commentComposer .composerForm .buttonBar .imageInput .fileInput div .icon{
		color: var(--fauxWhite);
	}
	.commentComposer .composerForm .buttonBar .imageInput .fileInput div:hover .icon{
		color: var(--blueText);
	}
	.commentComposer .composerForm .buttonBar{
		border-top: none;
	}
	.commentComposer .focused{
		border-radius: 5px 5px 0 0;
	}
	.postMerge .bottomContainer .mergeContainer{
		background: var(--lessDarkGrey);
		border: 0;
		box-shadow: 0 0 10px #000;
	}
	.reactionsMenu .reactors .more{
		margin: 5px 0;
		display: flex;
		justify-content: center;
	}
	.reactionsMenu .reactors .more button{
		background-color: transparent;
		color: accentColor;
	}
	.modal{
		background: linear-gradient(0deg, var(--moreDarkGreen) 0%, var(--lessDarkGreen) 100%);
		box-shadow: 0 0 50px #000;
		border-radius: 10px;
		overflow: hidden;
	}
	.modal .reactors{
		scrollbar-color: var(--lessDarkGreen) var(--moreDarkGreen);
		scrollbar-width: thin;
	}


/*

██╗   ██╗ ██████╗ ████████╗███████╗██████╗ ███████╗
██║   ██║██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗██╔════╝
██║   ██║██║   ██║   ██║   █████╗  ██████╔╝███████╗
╚██╗ ██╔╝██║   ██║   ██║   ██╔══╝  ██╔══██╗╚════██║
 ╚████╔╝ ╚██████╔╝   ██║   ███████╗██║  ██║███████║
  ╚═══╝   ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝╚══════╝

*/

	.subdomainPost .sidebarSection{
		max-height: none;
		background: var(--moreDarkGreen) !important;
		border: 2px solid var(--moreDarkGreenBorder) !important;
		border-radius: 8px !important;
	}
	.sidebarSection .category{
		margin: 0 0 15px !important;
	}
	.category .label{
		font-size: 20px !important;
		color: var(--blueText);
	}
	.subdomainPost .sidebarContainer .uppercaseHeader{
		color: #0e9bb1;
	}
	.subdomainPostVoters .more{
		margin: 10px 0 0 0;
		color: accentColor !important;
		text-align: center;
	}
	.subdomainPostVotersList .subdomainPostVotersContents{
		background: var(--moreDarkGrey);
		border: 0;
	}
	.subdomainPostVotersList .subdomainPostVoters .users{
		display: inline-block;
		column-count: 5;
	}
	.subdomainPostVotersList .subdomainPostVoters .users .voter{
		width: 300px;
		display: inline-block;
		/* if no inline-block, do this instead to make DIFFERENT buggy behavior happen, thanks web browsers!!!
		break-inside: avoid-column; */
	}


/*

███████╗███████╗████████╗████████╗██╗███╗   ██╗ ██████╗ ███████╗
██╔════╝██╔════╝╚══██╔══╝╚══██╔══╝██║████╗  ██║██╔════╝ ██╔════╝
███████╗█████╗     ██║      ██║   ██║██╔██╗ ██║██║  ███╗███████╗
╚════██║██╔══╝     ██║      ██║   ██║██║╚██╗██║██║   ██║╚════██║
███████║███████╗   ██║      ██║   ██║██║ ╚████║╚██████╔╝███████║
╚══════╝╚══════╝   ╚═╝      ╚═╝   ╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝

*/

	.subdomainAccountSettings, .subdomainAccountSettings .nullState{
		background: var(--moreDarkGreen);
		border: 2px solid var(--moreDarkGreenBorder) !important;
	}
	.subdomainAccountSettings .settings .editUserAvatar .fileInput .fileInputButton, .textInput.disabled{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
		border-radius: 8px;
	}
	.subdomainAccountSettings .settings .editUserAvatar .fileInput .fileInputButton:hover{
		animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
		background: #af0000;
		border: 2px solid #f00;
	}
	.subdomainAccountSettings .heading, .subdomainAccountSettings .profileMessage{
		color: var(--fauxWhite);
		margin: 0 0 20px;
	}
	.textInput.disabled input{
		background: transparent;
		color: var(--fauxWhite) !important;
		-webkit-text-fill-color: var(--fauxWhite) !important;
	}
	.subdomainAccountSettings .settings .editUserAvatar .fileInput .fileInputButton span{
		font-size: 20px;
		color: var(--fauxWhite);
	}

/*

██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝

*/

	.boardLoginForm, .boardLoginForm .topContainer .primaryLogIn{
		background: transparent;
		color: var(--fauxWhite);
	}
	.buttonStyle.cannyButton button.cannyButton .authButton{
		background: var(--lessDarkGreen);
		border: 2px solid var(--lessDarkGreenBorder);
		border-radius: 8px;
		scale: 120%;
	}
	.buttonStyle.cannyButton:hover, button.cannyButton:hover, .authButton:hover{
		background: var(--lessDarkGreen);
		opacity: .65;
	}
	.authButton .imageContainer{
		border-right: 0;
	}

}

/*
      ██      ▄█▀▀▀█▄█████▀ ▀███▀    ▀███▀▀▀███ ▄▄█▀▀██▄ ▀███▀▀▀██▄ ▀███▀   ▀███▀████▄     ▄███▀▄█▀▀▀█▄█
     ▄██▄    ▄██    ▀█ ██   ▄█▀        ██    ▀███▀    ▀██▄ ██   ▀██▄ ██       █   ████    ████ ▄██    ▀█
    ▄█▀██▄   ▀███▄     ██ ▄█▀          ██   █ ██▀      ▀██ ██   ▄██  ██       █   █ ██   ▄█ ██ ▀███▄
   ▄█  ▀██     ▀█████▄ █████▄          ██▀▀██ ██        ██ ███████   ██       █   █  ██  █▀ ██   ▀█████▄
   ████████  ▄     ▀██ ██  ███         ██   █ ██▄      ▄██ ██  ██▄   ██       █   █  ██▄█▀  ██ ▄     ▀██
  █▀      ██ ██     ██ ██   ▀██▄       ██     ▀██▄    ▄██▀ ██   ▀██▄ ██▄     ▄█   █  ▀██▀   ██ ██     ██
▄███▄   ▄████▄▀█████▀▄████▄   ███▄   ▄████▄     ▀▀████▀▀ ▄████▄ ▄███▄ ▀██████▀▀ ▄███▄ ▀▀  ▄████▄▀█████▀

*/
@-moz-document domain("ask.vrchat.com") {
	:root{
		--base-font-size: 16px;
	}
	html body #main-outlet, .wrap{
		max-width: 1600px;
	}
	video{
		max-height: none;
	}
	.topic-body{
		width: 100%;
	}
	p{
		font-size: 18px;
	}
	.d-header-icons .unread-notifications{
		background-color: accentColor;
	}
	.badge-notification[href]{
		color: accentColor invert(100%);
	}
	.small-action{
		max-width: none;
	}
}

/*

▀████▀  ▀████▀▀ ▄▄█▀▀██▄ ▀████▄     ▄███▀███▀▀▀███▀███▀▀▀██▄      ██       ▄▄█▀▀▀█▄█▀███▀▀▀███
  ██      ██  ▄██▀    ▀██▄ ████    ████   ██    ▀█  ██   ▀██▄    ▄██▄    ▄██▀     ▀█  ██    ▀█
  ██      ██  ██▀      ▀██ █ ██   ▄█ ██   ██   █    ██   ▄██    ▄█▀██▄   ██▀       ▀  ██   █
  ██████████  ██        ██ █  ██  █▀ ██   ██████    ███████    ▄█  ▀██   ██           ██████
  ██      ██  ██▄      ▄██ █  ██▄█▀  ██   ██   █  ▄ ██         ████████  ██▄    ▀████ ██   █  ▄
  ██      ██  ▀██▄    ▄██▀ █  ▀██▀   ██   ██     ▄█ ██        █▀      ██ ▀██▄     ██  ██     ▄█
▄████▄  ▄████▄▄ ▀▀████▀▀ ▄███▄ ▀▀  ▄████▄██████████████▄    ▄███▄   ▄████▄ ▀▀███████▄██████████

*/

@-moz-document domain("hello.vrchat.com") {

/*

██████╗  █████╗ ███████╗███████╗
██╔══██╗██╔══██╗██╔════╝██╔════╝
██████╔╝███████║███████╗█████╗
██╔══██╗██╔══██║╚════██║██╔══╝
██████╔╝██║  ██║███████║███████╗
╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝

*/

	/* TODO: Different colors than the other pages??? I don't know how I want to style this yet, will figure out later.
	:root{
		--siteBackgroundColor: var(--moreDarkGreen);
		--paragraphLargeColor: var(--fauxWhite);
		--paragraphMediumColor: var(--fauxWhite);
		--paragraphSmallColor: var(--fauxWhite);
		--tweak-blog-item-title-color: var(--fauxWhite);
		--headingLargeColor: var(--blueText);
		--headingMediumColor: var(--blueText);
		--headingSmallColor: var(--blueText);
		--paragraphLinkColor: accentColor;
	}
	*/

/*

██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝

*/

	footer{
		text-align: center;
	}
	.sqs-cookie-banner-v2-acceptWrapper button:hover{
		color: #0f0 !important;
		border-bottom: 1px solid #0f0 !important;
	}
	.sqs-cookie-banner-v2-denyWrapper button:hover{
		color: #f00 !important;
		border-bottom: 1px solid #f00 !important;
	}

/*

██████╗ ██╗      ██████╗  ██████╗ ███████╗
██╔══██╗██║     ██╔═══██╗██╔════╝ ██╔════╝
██████╔╝██║     ██║   ██║██║  ███╗███████╗
██╔══██╗██║     ██║   ██║██║   ██║╚════██║
██████╔╝███████╗╚██████╔╝╚██████╔╝███████║
╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚══════╝

*/

	.blog-single-column--container .image{
		border-radius: 40px;
	}

}

/*

 ▄█▀▀▀█▄████▀▀▀███▀███▀▀▀██▄ ▀████▀   ▀███▀███▀▀▀███▀███▀▀▀██▄      ▄█▀▀▀█▄███▀▀██▀▀███     ██     ███▀▀██▀▀██████▀   ▀███▀▄█▀▀▀█▄█
▄██    ▀█ ██    ▀█  ██   ▀██▄  ▀██     ▄█   ██    ▀█  ██   ▀██▄    ▄██    ▀█▀   ██   ▀█    ▄██▄    █▀   ██   ▀███       █ ▄██    ▀█
▀███▄     ██   █    ██   ▄██    ██▄   ▄█    ██   █    ██   ▄██     ▀███▄        ██        ▄█▀██▄        ██     ██       █ ▀███▄
  ▀█████▄ ██████    ███████      ██▄  █▀    ██████    ███████        ▀█████▄    ██       ▄█  ▀██        ██     ██       █   ▀█████▄
▄     ▀██ ██   █  ▄ ██  ██▄      ▀██ █▀     ██   █  ▄ ██  ██▄      ▄     ▀██    ██       ████████       ██     ██       █ ▄     ▀██
██     ██ ██     ▄█ ██   ▀██▄     ▄██▄      ██     ▄█ ██   ▀██▄    ██     ██    ██      █▀      ██      ██     ██▄     ▄█ ██     ██
█▀█████▀▄██████████████▄ ▄███▄     ██     ▄██████████████▄ ▄███▄   █▀█████▀   ▄████▄  ▄███▄   ▄████▄  ▄████▄    ▀██████▀▀ █▀█████▀

*/
@-moz-document domain("status.vrchat.com") {
	body.status-page footer{
		border-top: 0;
		text-align: center;
		text-shadow: 0 1px 2px #000;
	}
}

/*

▀████▄     ▄███▀     ██     ▀████▀███▄   ▀███▀   ▀███▀▀▀██▄      ██       ▄▄█▀▀▀█▄█▀███▀▀▀███
  ████    ████      ▄██▄      ██   ███▄    █       ██   ▀██▄    ▄██▄    ▄██▀     ▀█  ██    ▀█
  █ ██   ▄█ ██     ▄█▀██▄     ██   █ ███   █       ██   ▄██    ▄█▀██▄   ██▀       ▀  ██   █
  █  ██  █▀ ██    ▄█  ▀██     ██   █  ▀██▄ █       ███████    ▄█  ▀██   ██           ██████
  █  ██▄█▀  ██    ████████    ██   █   ▀██▄█       ██         ████████  ██▄    ▀████ ██   █  ▄
  █  ▀██▀   ██   █▀      ██   ██   █     ███       ██        █▀      ██ ▀██▄     ██  ██     ▄█
▄███▄ ▀▀  ▄████▄███▄   ▄████▄████▄███▄    ██     ▄████▄    ▄███▄   ▄████▄ ▀▀███████▄██████████

*/
@-moz-document url-prefix("https://vrchat.com/home") {
	.col-md-9, .css-rqhlr5{
		width: 100%;
		max-width: 1600px;
	}
	.css-158ik7x .size-huge .user-bio, .css-158ik7x .size-huge .user-bio-links, .css-xpha89, .css-feutt4{
		width: 100%;
	}
	.css-158ik7x .user-info{
		width: 71%;
	}
	.usercard .col-md-1{
		display: none;
	}
	.css-rqhlr5 .btn-group-vertical{
		flex-direction: row;
	}
	.css-rqhlr5 .btn{
		margin: 5px !important;
		border-radius: 5px !important;
		text-align: center;
	}
	.css-vq20h4 .mt-5{
		margin-top: 1rem !important;
	}
	.css-vq20h4 .mb-5{
		margin-bottom: 2rem !important;
	}
	.css-vq20h4 .pb-5{
		margin-bottom: 0 !important;
	}
}